.quotes {
    display: flex;
    flex-direction: column;
}

.quotes__main {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}

.quotes__title h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.quotes__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.quote {
    text-align: center;
    font-size: 25px;
    color: rgb(0, 0, 0);
    line-height: 40px;
}

.person {
    font-size: 25px;
    font-weight: 600;
}

.quote__button {
    margin-top: 20px;
}

.new-quote {
    font-size: 30px;
}

.quotes__fact a {
    text-align: center;
    display: inline-block;
    padding: 0 40px;
    margin: 0 15px 15px 0;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 42px;
    line-height: 32px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    background-color: #3785dd;
    box-shadow: 0 2px #275498;
    cursor: pointer;
}

.quotes__fact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.quotes__fact ul{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quotes__fact ul li{
    font-size: 20px;
}